.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  
}


@media (min-width: 600px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}